.home-page {

  &--action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &--header {
    margin-bottom: 15px;
  }

  &--table {
    margin-top: 10px;
  }
}
